SUPABASE_PASSWORD=123456Aa!ABCDsg
DATABASE_URL="postgresql://postgres.vsmokwngbuzruuzyoseo:123456Aa!ABCDsg@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
PORT=3000
JWT_SECRET="conmeo"
GEMINI_API_KEY=AQ.Ab8RN6K0BV6EBLgUZVh0qAb3bjWVdI6D-jEzw6mjBt87RcRoiA
